/* Tab style */
#fanfou{
    position: absolute;
    right: 5%;
    top: 150px;
    z-index: -1;
}
#body{
    width:700px;
    margin:0 auto;
    margin-top: 45px;
}
pre>code{
    background-color:rgb(187, 209, 140);
}
.navbar .nav {
    float: right;
}
img{
    max-width:700px;
}
p{
    text-indent: 2em;
}
li>p{
    text-indent: 0em;
}

.content_url{
    font-size: 20px;
    line-height: 130%;
}

body { padding-bottom: 40px; padding-top: 60px;width:95%;}


.heading,body>header h1,h1,h2,h3,h4,h5,h6 {
	font-family:"PT Serif","Georgia","Helvetica Neue",Arial,sans-serif
}
.sans,body>header h2,article header p.meta,article>footer,#content .blog-index footer,html .gist .gist-file .gist-meta,#blog-archives a.category,#blog-archives time,aside.sidebar section,body>footer {
	font-family:"PT Sans","Helvetica Neue",Arial,sans-serif
}
.serif,body,#content .blog-index a[rel=full-article] {
	font-family:"PT Serif",Georgia,Times,"Times New Roman",serif
}
.mono,pre,code,tt,p code,li code {
	font-family:Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace
}
body>header h1 {
	font-size:2.2em;
	font-family:"PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
	font-weight:normal;
	line-height:1.2em;
	margin-bottom:0.6667em
}
body>header h2 {
	font-family:"PT Serif","Georgia","Helvetica Neue",Arial,sans-serif
}

h1 {
	font-size:2.6em;
	line-height:1.2em;
	padding-bottom:0.5em;
    text-align:center;
}
}h1,h2,h3,h4,h5,h6 {
	text-rendering:optimizelegibility;
	margin-bottom:1em;
	font-weight:bold
}
h2,section h1 {
	font-size:1.5em
}
h3,section h2,section section h1 {
	font-size:1.3em
}
h4,section h3,section section h2,section section section h1 {
	font-size:1em
}
h5,section h4,section section h3 {
	font-size:.9em
}
h6,section h5,section section h4,section section section h3 {
	font-size:.8em
}
